body{
    background-color: gray;
}
h1{
    color: red;
    text-align: center;
    font-family: fantasy;
    font-size: 12px;
}
img{
    display: block;
    margin: 0 auto;
    width: 20%;
    height: 300px;
}
ul{
    color: red;
    font-family: fantasy;
    font-size: 6px;
}

